/* ==========================================================================
   Custom styles
   ========================================================================== */

.content {
    position: relative;
    overflow: hidden;
}

.carousel {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    position: relative;;
    clear: both;
}

.control {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0; 
    width: 60px;
    height: 350px;
    float: left;
}

.output-event,
.output {
    text-align: center;
    padding: 20px;
}

.direction-control {
    position: absolute;
    z-index: 6;
    top: 0;
    background-color: #cccccc;
    opacity: 0.6;
    /*this defines the ineractive area*/
    width: 15%;
    height: 350px;
}

.direction-control .text {
    position: absolute;
    top: 48%;
    width: 5em;
    text-align: center;
    font-size: 1.5em;
}

.direction-control-left {
    left: 0;
}

.direction-control-left .text {
    left: 2em;
}

.direction-control-right .text {
    right: 2em;
}

.direction-control-left .text:before {
    content: "\2329";
    position: absolute;
    width: 1em;
    height: 1em;
    left: 0;
}

.direction-control-right {
    right: 0;
    left: auto;
}

.direction-control-right .text:after {
    content: "\232A";
    position: absolute;
    width: 1em;
    height: 1em;
    right: 0;
}

.carousel-list {
    width: 2800px;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}

.carousel-list li {
    width: 200px;
    height: 350px;
    background: #3466D1;
    float: left;
    list-style-type: none;
}

.carousel-list li:nth-child(2n) {
    background-color:#b9d134;
}

@media all and ( max-width: 480px ) {
    .carousel-list {
        width: 100%;
    }

    .carousel-list li {
        width: 100%;
    }
}