/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

.content {
    position: relative;
    overflow: hidden;
}

.carousel {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    position: relative;;
    clear: both;
}

.control {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0; 
    width: 60px;
    height: 350px;
    float: left;
}

.output-event,
.output {
    text-align: center;
    padding: 20px;
}

.direction-control {
    position: absolute;
    z-index: 6;
    top: 0;
    background-color: #cccccc;
    opacity: 0.6;
    /*this defines the ineractive area*/
    width: 15%;
    height: 350px;
}

.direction-control .text {
    position: absolute;
    top: 48%;
    width: 5em;
    text-align: center;
    font-size: 1.5em;
}

.direction-control-left {
    left: 0;
}

.direction-control-left .text {
    left: 2em;
}

.direction-control-right .text {
    right: 2em;
}

.direction-control-left .text:before {
    content: "\2329";
    position: absolute;
    width: 1em;
    height: 1em;
    left: 0;
}

.direction-control-right {
    right: 0;
    left: auto;
}

.direction-control-right .text:after {
    content: "\232A";
    position: absolute;
    width: 1em;
    height: 1em;
    right: 0;
}

.carousel-list {
    width: 2800px;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}

.carousel-list li {
    width: 200px;
    height: 350px;
    background: #3466D1;
    float: left;
    list-style-type: none;
}

.carousel-list li:nth-child(2n) {
    background-color:#def;
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
    background-size:80px 80px;
    background-position:0 0, 40px 40px;
}

@media all and ( max-width: 480px ) {
    .carousel-list {
        width: 100%;
    }

    .carousel-list li {
        width: 100%;
    }
}


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
